{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="section-top">
        <img src="{% static 'img/slider0.jpg' %}" class="img-responsive" alt="Pizza">
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                {%  for product_image in products_images %}
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div>
                                <img src="{{ product_image.image.url }}" class="img-responsive" alt="pizza">
                            </div>
                            <h3>{{ product_image.product.name }}</h3>
                            <p>{{ product_image.product.description|truncatechars_html:75 }}</p>
                            <div class="product-price">
                                <h4>{{ product_image.product.price }} ₴</h4>
                            </div>
                            <div class="add-to-cart-button">
                                <button class="btn">
                                    В кошик
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock content %}