{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="section-top">
        <img src="{% static 'img/slider0.jpg' %}" class="img_slider" alt="Pizza">
    </div>

    <div class="section section1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Частіше обирають
                    </h1>
                </div>

                {%  for product_image in products_images_popular %}
                    {% include 'landing/product-item.html' %}
                {% endfor %}

            </div>
        </div>
    </div>


    <div class="container">
        <div class="slider">
            <div class="slider-line">
                <img class="slider-img" src="{% static "img/delivery_slider_11.jpg" %}" alt="Oops!something went wrong...">
                <img  src="{% static "img/delivery_slider_8.jpg" %}" alt="Oops!something went wrong...">
                <img class="slider-img" src="{% static "img/delivery_slider_1.jpg" %}" alt="Oops!something went wrong...">
            </div>
        </div>

        <button class="button slider__btn slider__btn_prev"></button>
        <button class="button slider__btn slider__btn_next"></button>
    </div>

    <div class="section section2 sets-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Сети
                    </h1>
                </div>

                {%  for product_image in products_images_sets %}
                    {% include 'landing/product-item.html' %}
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="section section3 pizza-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Піцца
                    </h1>
                </div>

                {%  for product_image in products_images_pizza %}
                    {% include 'landing/product-item.html' %}
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock content %}