<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/footers/">
<link href="/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<footer class=" footer py-3 my-4">
    <div class="container">
{#        <ul class="list-inline justify-content-center border-bottom pb-3 mb-3">#}
{#          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>#}
{#          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>#}
{#          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>#}
{#          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>#}
{#          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>#}
{#        </ul>#}
    <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
    </div>
  </footer>

 <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>