<!-- Static navbar -->
<nav class="navbar navbar-default navbar-top">

</nav>

<form id="csrf_getting_form">
    {% csrf_token %}
</form>

    <nav class="navbar navbar-default navbar-static-top navbar-main" id="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand text" href="/" style="margin-top: 15px; color: #fc0; text-decoration: none"><h2 class="company-name">DeliciousFood</h2></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav " style="margin-top: 13px;">
            <li><a href="{% url 'our-products' %}?sety">Сети</a></li>
            <li><a href="{% url 'our-products' %}?pizza">Піцца</a></li>
            <li><a href="{% url 'contact' %}">Де нас знайти</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <div class="basket-container">
                        <a class="empty mini-cart text" href="{% url 'checkout' %}" style="text-decoration: none">
                            <div class="icon-basket"></div>
                            <div class="total-number">
                                <span id="basket_total_number" style="font-weight: normal">
                                    {% if products_total_number %}
                                        ({{ products_total_number }})
                                    {% else %}
                                        (0)
                                    {% endif %}
                                </span>
                            </div>
                        </a>
                        <div class="basket-items hidden">
                            <ul class="items-in-basket-ul">
                                {# {{ products_in_basket }} get from order\context_processors.py #}
                                {%  for product_in_basket in products_in_basket %}
                                    <li class="">{{ product_in_basket.product.name }}| {{ product_in_basket.count }} шт|
                                        {{ product_in_basket.total_price }}₴| <a class="delete-item" href="" data-product_id="{{ product_in_basket.id }}">X</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                  </div>

              </li>
          </ul>


        </div><!--/.nav-collapse -->
      </div>
    </nav>